body {
  min-height: 100vh;
  color: white;
  background: white;
  font-family: Inter, sans-serif;
  overflow: hidden;
  /* line-height: 1.6; */
  /* font-family:
    Monaspace,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
