#app {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

body {
  background: white;
  overflow: auto;
  width: 99%;
  margin: 0;
}
 