/* #app {
  display: flex;
  flex-direction: column;
  font-famc ily: "Inter", sans-serif;
} */

body {
  background: #acc6aa;
  /* min-height: 100vh; */
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
}

